body {
  margin: 0px;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
p {
  margin: 0;
}
html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  position: relative;
  font-family: "Murecho", sans-serif;
  // font-family: "Inter", sans-serif;
  background-color: var(--main-back);
  color: var(--main-color);
  transition: background-color .8s;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 2800px;
  margin: 0 auto;
  transition: opacity .8s;
  opacity: 1;

  &.hide {
    opacity: 0;
    transition: opacity .8s;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  width: 98%;
  max-width: 1400px;

  @include notes {
    width: 96%;
  }

  @include phones {
    width: 94%;
    max-width: 648px;

    @media screen and (max-width: 400px) {
      width: 96%;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

input {
  border: none;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
address {
  font-style: normal;
}
html {
  scroll-behavior: smooth; 
}
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
